    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }

    :root {
        --primary-color: #7772e7;
        --secondary-color: #e2e772;
        --background-color: #e2e772;
        --text-dark: #2c3e50;
        --text-light: #555;
        --white: #ffffff;
        --shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
        --border-radius: 12px;
    }

    body {
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        line-height: 1.6;
        color: var(--text-dark);
        background: linear-gradient(135deg, var(--primary-color), var(--secondary-color));
        scroll-behavior: smooth;
    }

    h1{
        padding-top: 25px;
        text-align: center;
    }

    .header {
    background-color: white;
    padding: 15px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    }
    .nav-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 100%;
    }
    .logo-container {
    display: flex;
    gap: 80px;
    align-items: center;
    padding-left: 5%;
    }
    .logo-container a {
    text-decoration: none;
    color: var(--text-dark);
    }
    .logo-container {
    color: var(--primary-color);
    font-weight: bold;
    }
    .container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
    padding: 20px;
    }

    .card-container{
    display: flex;
    gap: 5%;
    flex-wrap: wrap;
    justify-content: center;
    margin: 30px;
    padding-top: 2%;
    }

    .card {
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    width: 300px;
    text-align: center;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    transition: transform 0.3s ease;
    }

    .card:hover {
      transform: translateY(-5px);
      box-shadow: 0 6px 20px rgba(115, 148, 239, 0.4);
    }

    .card img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin-bottom: 15px;
    }

    .profile {
    display: flex;
    align-items: center;
    gap: 10px;
    }      

    .profile img{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-bottom: 15px;
    }
    
    button {
    background: linear-gradient(135deg, var(--primary-color), var(--secondary-color));
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 15px;
    }  

    button:hover {
      transform: translateY(-2px);
      box-shadow: 0 6px 20px rgba(115, 148, 239, 0.4);
    }
